html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.main-page{
    position: relative;
    min-width: 1200px;
}

.header{
    background: rgba(94, 93, 88, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-text::before{
    content: "H";
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    width: 58px;
    height: 67px;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    background-image: url(../image/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 6px;
}

.header-logo-text{
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.bold{
    font-weight: 700;
}
.green {
    font-family: 'Roboto', sans-serif;
    color: #18CFAB;
}

.nav-item{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 49px;
    padding-bottom: 47px;
    margin-right: 21px;
    transition: 0.5s;
    border-bottom: 2px solid #18cfaa00;
}

.nav-item:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.intro{
    background-image: url(../image/background-title.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 1012px;
}

.page-title{
    margin-top: 0;
    margin-bottom: 22px;
    padding-top: 379px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.creative{
    font-weight: 700;
    font-size: 78px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.page-slogan{
    font-size: 34px;
    text-align: center;
    color: #D4D4D4;
    margin-bottom: 134px;
}

.title-page-bottoms{
    text-align: center;
}

.button-expolre{
    display: inline-block;
    background-color: #18CFAB;
    border: none;
    border-top: 5px solid #fff;
    border-radius: 5px;
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 26px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-purchase{
    display: inline-block;
    background-color: #00CBF6;
    border: none;
    border-top: 5px solid #fff;
    border-radius: 5px;
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.offers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4px;
}

.offer-item{
    background-color: #1C2A33;
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-item:nth-child(2n){
    background-color: #18CFAB;
}

.offer-image{
    display: inline-block;
    object-fit: contain;
    margin-bottom: 47px;
}

.offer-name{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
}

.offer-item:nth-child(2n) .offer-name{
    color: #FFFFFF;
}

.section-devide{
    width: 91px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.hr-1{
    border: none;
    background-color: #18CFAB;
    width: 75px;
    height: 2px;
    margin-bottom: 3px;
}

.hr-2{
    border: none;
    background-color: #18CFAB;
    width: 78px;
    height: 2px;
    position: absolute;
    left: 13px;
}

.our-service-title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 85px;
    margin-bottom: 26px;
}

.service-list{
    display: flex;
    margin-top: 69px;
}

.service-item{
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    transition: 0.4s;
    user-select: none;
}

.service-item.active{
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: #FFFFFF;
    position: relative;
}
.service-item.active::after{
    content: "";
    display: block;
    position: absolute;
    top: 70px;
    left: 74px;
    background-image: url(../image/triangle.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 15px;
}

.service-item:hover{
    border: 1px solid #18CFAB;
}

.service-info-list{
    height: 259px;
}
.service-info{
    display: none;
    margin-top: 23px;
    margin-bottom: 91px;
}
.service-info.active{
    display: flex;
}
.service-info-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;
}

.install-now{
    background-image: url(../image/install-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

.install-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 126px;
}

.instal-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-top: 12px;
}

.button-install{
    display: block;
    background-color: #18CFAB;
    border: none;
    border-top: 5px solid #fff;
    border-radius: 5px;
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 67px auto 127px auto;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our-amazing-work{
    background-color: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 99px;
}

.amazing-work-title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-bottom: 20px;
}

.amazing-work-list{
    display: flex;
    justify-content: center;
    margin-top: 69px;
}

.amazing-work-item{
    font-size: 14px;
    line-height: 42px;
    align-items: center;
    color: #717171;
    background-color: #E9EDEF;
    padding: 14px 15px 13px 15px;
    border: 1px solid #DADADA;
    margin-right: -1px;
    transition: 0.5s;
    user-select: none;
}

.amazing-work-item:first-child{
    padding-right: 28px;
    padding-left: 27px;
}

.amazing-work-item.active{
    border: 2px solid #18CFAB;
    color: #18CFAB;
    margin-right: 0;
}

.amazing-work-item:hover{
    color: #18CFAB;
    border: 1px solid #18CFAB;
    margin-right: 0px;
}
.amazing-work-item.active:hover{
    border: 2px solid #18CFAB;
}

.amazing-work-examples{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 71px;
}

.amazing-work-example{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.amazing-work-example.active{
    display: flex;
}
.example-image{
    width: 100%;
}

.example-text{
    display: flex;
    opacity: 0;
    width: 100%;
    height: 206px;
    padding-top: 48px;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #18CFAB;
    background-color: #E9EDEF;
    position: absolute;
    top: 206px;
    left: 0;
    transition: 0.5s;
}

.example-text-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 24px;
}

.example-text-type{
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
}

.amazing-work-example:hover .example-text{
    opacity: 1;
    top: 0;
}

.load-more{
    display: block;
    background-color: #18CFAB;
    border: none;
    border-top: 5px solid #fff;
    border-radius: 5px;
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.load::before{
    content: url(../image/load-icon.svg);
    width: 18px;
    height: 19px;
    position: relative;
    top: 2px;
    margin-right: 15px;
}

.breaking-news{
    padding-bottom: 128px;
}

.breaking-news-title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 82px;
    margin-bottom: 26px;
}

.news-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px 35px;
    margin-top: 68px;
}

.news-item{
    position: relative;
}

.date{
    position: absolute;
    width: 70px;
    height: 68px;
    top: 0;
    right: 0;
    background: #203E38;
    padding-top: 15px;
    transition: 0.4s;
}

.date-text{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.news-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    transition: 0.4s;
    margin-left: 15px;
}

.from{
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #777777;
    margin-left: 17px;
    margin-right: 10px;
}

.from::after{
    content: "|";
    color: #777777;
    margin-left: 10px;
}

.coments{
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.news-link:hover .date{
    background-color: #18CFAB;
}

.news-link:hover .news-name{
    color: #18CFAB;
}

.about-theham{
    background-image: url(../image/bg-about\ theHam.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 853px;
    padding-top: 98px;
}

.about-ham-title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.quotes{
    display: block;
    margin: 66px auto 36px auto;
}

.commentator{
    display: none;
}

.commentator.active{
    display: block;
}

.about-comment{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 37px;
}

.commentator-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 25px;
}

.commentator-proffession{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 38px;
}

.commentator-image{
    display: block;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    margin-right: auto;
    margin-left: auto;
}

.carousel{
    display: flex;
    align-items: center;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 93px;
    width: 452px;
}
.button-back, .button-forth{
    background-color: rgba(31, 218, 181, 0);
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    padding-left: 10px;
    padding-right: 11px;
    transition: 1s;
}
.commentators-tabs{
    display: flex;
}

.commentator-tab{
    margin-left: 30px;
}
.comment-tab-image.active{
    transition: 1s;
    transform: translateY(-16px);
}

.comment-tab-image{
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.button-forth{
    transform: rotate(180deg);
    margin-left: 30px;
}

.button-back:hover, .button-forth:hover{
    background-color: #18CFAB;
    border-color: #FFFFFF;
}

.button-back:hover>svg>path, .button-forth:hover>svg>path{
    fill: #ffffff;
}
.loading {
    width: 169px;
    height: 64px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.4em;
    border-radius: 50%;
  }
  .loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
  }
  .loading .dot:nth-child(1) {
    background: #18CFAB;
  }
  .loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
  }
  .loading .dot:nth-child(2) {
    background: #89cff0;
  }
  .loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
  }
  .loading .dot:nth-child(3) {
    background: #00CBF6;
  }
  .loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
  }
  .loading .dot:nth-child(4) {
    background: #0f52ba;
  }
  .loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
  }
  .loading .dot:nth-child(5) {
    background: #005386;
  }
  .loading .dot:nth-child(5)::before {
    animation-delay: 1s;
  }
  
  @keyframes wave {
    50%, 75% {
      transform: scale(2.5);
    }
    80%, 100% {
      opacity: 0;
    }
  }